<!DOCTYPE html>
   <html lang="en" ng-app="teamform-member-app">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="teamform, team">
      <!-- The meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <title>TeamForm - Member</title>

      <!-- libraries and CSS
		JQuery: Necessary for some bootstrap interactions (v1.12.4 is used)
		Bootstrap: Library and CSS for bootstrap framework (v3.3.7 is used)
		Font-awesome: More icons for the web development (v4.6.3 is used)
		site.css: A customized css for our web application. Not from any web framework.
	  -->

      <script src="lib/jquery.min.js"></script>
      <script src="lib/bootstrap.min.js"></script>

	   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
      <link rel="stylesheet" href="css/site.css" >


      <!-- Customized libraries shared by pages -->
      <script src="js/site.js"></script>

   </head>
   <body ng-controller="MemberCtrl" style="background:#E0ECF8">

    <a href="index.html">
   <button id="btn_admin" type="button" class="btn btn-primary" >
   <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
   Back to homepage</button></a>   
   <br>

   <div class="text-center">
      <h1>Member Page</h1>
      <h2 id="text_event_name"></h2>
       <div id="member_page_controller">
         <div class="row">
            <div class="col-md-2 col-xs-2"></div>
            <div class="col-md-8 col-xs-8 panel" style="padding: 20px 20px 20px 20px">
               <form class="form-horizontal">

                  <!-- Form group UserID -->
                  <div class="form-group">
                     <label for="inputUserID" class="col-sm-3 control-label">User ID</label>
                     <div class="col-sm-5 help-block text-left">
                        <span ng-model="userID">{{userID}}</span>
                     </div>
                     <div class="col-sm-4">
                        <button type="button" class="btn btn-primary" ng-click="saveFunc();" >Add/Modify</button>
                        <button type="button" class="btn btn-primary" ng-click="loadFunc();" >Load</button>
                     </div>
                  </div>

                  <!-- Form group Name -->
                  <div class="form-group">
                     <label for="inputName" class="col-sm-3 control-label">Name</label>
                     <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputUserName" ng-model="userName" placeholder="Type in your name">
                     </div>
                  </div>
				   </form>

               <div class="text-left">
                  <h3>Team List:</h3>
                  <div class="panel panel-success" ng-show="logined" ng-repeat="team in teams | orderBy: '-clikes'" >
                     <div class="panel-heading">
                        {{team.$id}}
                     </div>
                     <div class="panel-body">{{team.desc}}</div>
                     <div class="panel-footer">
                        <button type="button" class="btn btn-primary" ng-click="btn_enter(team.$id);" ng-show="!fb">Enter</button>
                        <button type="button" class="btn btn-primary" ng-click="btn_leader(team.$id);" ng-show="fb">Request for joining</button>
                        <button class="btn btn-primary" type="button" ng-click="team.likes = team.likes+1; teams.$save(team);">
                           <span class="glyphicon glyphicon-thumbs-up"></span> Likes
                           <span class="badge" ng-show="team.likes >= 0"> {{team.likes}}</span> 
                        </button>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-2 col-xs-2"></div>
         </div>
      </div>
   </div>


   <!-- Angular and Angular-route libraries (v1.5.7) -->
   <script src="lib/angular.min.js"></script>
   <script src="lib/angular-route.min.js"></script>

   <!-- Firebase (v3.0.3) and AngularFire (v2.0.0) (after angular library is loaded) -->
   <script src="lib/firebase.js"></script>
   <script src="lib/angularfire.min.js"></script>



   <!-- JavaScript of this page -->
   <script src="js/member.js"></script>

   </body>
</html>
